@inherits LayoutComponentBase

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

<div>
    <div class="@menuBtn" id="btn counterClicker" @onclick="Menu">
        <div class="menu-btn__burger"></div>
    </div>

    <div id="menu-container" class="sidenav" style="@menustyle">
        <div id="logo-container" style="@logostyle">
            <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="@menuIcon" style="@iconstyle">
                <path d="M0.990336 4.65517C0.915195 4.65517 0.865101 4.65517 0.789961 4.65517C0.56454 5.3202 0.464355 6.00985 0.464355 6.72414C0.464355 9.95074 2.76866 12.6355 5.84941 13.3005C6.40044 12.4384 6.7511 11.4039 6.7511 10.2956C6.72605 7.16749 4.14623 4.65517 0.990336 4.65517ZM12.3616 2.21675C11.1092 0.862069 9.30587 0 7.30212 0C5.29838 0 3.49501 0.862069 2.24267 2.21675C3.2195 3.99015 5.12305 5.19704 7.30212 5.19704C9.48119 5.19704 11.3848 3.99015 12.3616 2.21675ZM14.1399 6.72414C14.1399 6.00985 14.0147 5.29557 13.8143 4.65517C13.7391 4.65517 13.6891 4.65517 13.6139 4.65517C10.433 4.65517 7.8782 7.19212 7.8782 10.2956C7.8782 11.4039 8.20381 12.4384 8.77989 13.3005C11.8356 12.6355 14.1399 9.95074 14.1399 6.72414Z" fill="white" />
            </svg>

            <svg width="174" height="24" viewBox="0 0 174 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="hsp-test" style="@teststyle">
                <path d="M7.83964 18.8768H9.7432V9.91133C9.7432 8.95073 9.54282 8.16256 9.14207 7.54679C8.74133 6.93103 8.1903 6.46305 7.48899 6.14285C6.83777 5.82266 6.01123 5.67487 5.00936 5.67487C4.40823 5.67487 3.83216 5.74876 3.28113 5.87192C2.7301 5.99507 2.25421 6.16748 1.90356 6.41379V0.748764H0V18.8768H1.90356V8.13793C2.27926 7.91625 2.75515 7.74384 3.28113 7.59606C3.80711 7.44827 4.33309 7.39901 4.83403 7.39901C5.71067 7.39901 6.43702 7.62069 6.98805 8.06404C7.53908 8.50738 7.83964 9.2463 7.83964 10.2562V18.8768ZM20.338 18.1872C21.1395 17.4729 21.5152 16.5862 21.5152 15.5025C21.5152 14.665 21.3148 13.9754 20.889 13.4335C20.4883 12.9163 19.9873 12.4975 19.3862 12.2266C18.7851 11.931 18.0337 11.6355 17.107 11.3399C16.1552 11.0197 15.4539 10.7241 14.978 10.4532C14.5021 10.1823 14.2516 9.8128 14.2015 9.34482C14.1264 8.72906 14.3268 8.23645 14.8026 7.86699C15.2785 7.49753 15.9298 7.32512 16.7563 7.32512C17.2071 7.32512 17.5828 7.37438 17.9335 7.4729C18.2841 7.57142 18.5597 7.66995 18.735 7.76847C18.9103 7.86699 19.0356 7.94088 19.0856 7.96551L19.6868 6.3399C19.6367 6.31527 19.4864 6.21674 19.2359 6.11822C18.9855 5.99507 18.6599 5.87192 18.209 5.7734C17.7832 5.65024 17.2823 5.60098 16.7313 5.60098C15.7043 5.60098 14.8527 5.7734 14.1765 6.11822C13.5002 6.46305 12.9993 6.9064 12.6737 7.44827C12.3481 7.99014 12.1978 8.55665 12.1978 9.12315L12.2228 9.44335C12.298 10.1576 12.5484 10.7241 12.9492 11.1921C13.3499 11.6355 13.8008 11.9803 14.3268 12.2266C14.8527 12.4483 15.529 12.7192 16.4056 13.0148C17.132 13.2611 17.683 13.4581 18.1088 13.6552C18.5096 13.8276 18.8602 14.0739 19.1357 14.3941C19.4113 14.7143 19.5365 15.0837 19.5365 15.5517C19.5365 16.2167 19.261 16.734 18.7099 17.0788C18.1589 17.4236 17.5077 17.5961 16.8064 17.5961C16.0049 17.5961 15.3286 17.4236 14.7526 17.0542C14.1765 16.7094 13.8509 16.1921 13.7757 15.5764L11.9223 15.6502C11.9473 16.3153 12.1727 16.931 12.5484 17.4975C12.9241 18.0394 13.4752 18.5074 14.2015 18.8276C14.9279 19.1724 15.8045 19.3448 16.8064 19.3448C18.3593 19.2709 19.5365 18.9015 20.338 18.1872ZM31.9346 14.2956C31.9346 15.3054 31.6591 16.0936 31.1081 16.6108C30.5571 17.1281 29.8307 17.399 28.929 17.399C27.9272 17.399 27.1507 17.1527 26.5997 16.6355C26.0487 16.1182 25.7731 15.3793 25.7731 14.3941V10.4778C25.7982 9.46798 26.1238 8.70443 26.6999 8.18719C27.301 7.69458 28.0273 7.42364 28.904 7.42364C29.7556 7.42364 30.4819 7.66995 31.058 8.18719C31.6341 8.70443 31.9096 9.49261 31.9096 10.5764V14.2956H31.9346ZM32.4857 17.9163C33.3874 17.0788 33.8382 15.8719 33.8382 14.2956V10.6995C33.8382 9.22167 33.4124 8.01477 32.5608 7.07881C31.7092 6.14285 30.4569 5.67487 28.8288 5.67487C28.2528 5.67487 27.6767 5.7734 27.1257 5.99507C26.5746 6.19211 26.0987 6.48768 25.723 6.88177L25.7481 5.89655H23.8946V24H25.7982V18.0887C26.1989 18.4828 26.6498 18.7783 27.1257 18.9261C27.6016 19.0985 28.2027 19.1724 28.929 19.1724C30.4068 19.197 31.584 18.7783 32.4857 17.9163ZM58.4341 12.8916C58.4341 14.4433 58.0083 15.6749 57.1818 16.5862C56.3302 17.4975 55.2281 17.9409 53.8255 17.9409H51.3209V6.80788H53.9257C55.2782 6.80788 56.3803 7.27586 57.2068 8.16256C58.0334 9.07389 58.4592 10.2562 58.4592 11.7586V12.8916H58.4341ZM58.8349 16.069C59.3108 15.1576 59.5612 14.1478 59.5612 12.9901V11.7832C59.5612 10.6256 59.3108 9.59113 58.8349 8.70443C58.359 7.7931 57.6827 7.10344 56.8311 6.61083C55.9796 6.11822 55.0027 5.87192 53.9257 5.87192H50.2188V18.8768H53.8255C54.9526 18.8768 55.9545 18.6305 56.8061 18.1379C57.6827 17.6453 58.359 16.9557 58.8349 16.069ZM69.3545 14.2956H64.0446L66.6996 7.2266L69.3545 14.2956ZM72.2349 18.8768L67.2256 5.87192H66.1736L61.1642 18.8768H62.3414L63.694 15.2315H69.7052L71.0828 18.8768H72.2349ZM77.6701 6.80788H82.2035V5.87192H72.0345V6.80788H76.568V18.8768H77.6951V6.80788H77.6701ZM90.1684 14.2956H84.8585L87.5135 7.2266L90.1684 14.2956ZM91.8966 18.8768H93.0488L88.0394 5.87192H86.9875L81.9781 18.8768H83.1553L84.5078 15.2315H90.5191L91.8966 18.8768ZM100.838 9.02463C100.838 8.31034 101.139 7.71921 101.74 7.27586C102.341 6.83251 103.143 6.61083 104.145 6.61083C105.196 6.61083 106.023 6.88177 106.624 7.42364C107.25 7.96551 107.551 8.6798 107.551 9.5665H108.678C108.678 8.82758 108.478 8.16256 108.102 7.57142C107.726 6.98029 107.175 6.51231 106.499 6.16748C105.798 5.82266 105.021 5.67487 104.145 5.67487C102.842 5.67487 101.79 5.99507 100.964 6.61083C100.137 7.2266 99.7112 8.0394 99.7112 9.02463C99.7112 10.0591 100.162 10.8719 101.064 11.5123C101.69 11.9557 102.692 12.3744 104.069 12.7438C105.447 13.1133 106.374 13.532 106.9 13.9507C107.426 14.3695 107.676 14.936 107.676 15.6502C107.676 16.3892 107.376 16.9803 106.749 17.4236C106.123 17.867 105.297 18.0887 104.27 18.0887C103.118 18.0887 102.191 17.8177 101.49 17.3005C100.788 16.7832 100.438 16.0443 100.438 15.133H99.3105C99.3105 15.8965 99.5109 16.5616 99.9116 17.1527C100.312 17.7438 100.913 18.2118 101.69 18.532C102.466 18.8522 103.318 19.0246 104.245 19.0246C105.597 19.0246 106.699 18.7044 107.526 18.0887C108.352 17.4729 108.778 16.6601 108.778 15.6256C108.778 14.9852 108.628 14.4187 108.327 13.9261C108.027 13.4581 107.551 13.0394 106.95 12.6946C106.349 12.3498 105.447 12.0296 104.245 11.7094C103.068 11.3892 102.191 11.0197 101.665 10.601C101.114 10.2315 100.838 9.68965 100.838 9.02463ZM111.884 18.8768H120.099V17.9409H112.986V12.6453H119.173V11.7094H112.986V6.80788H120.049V5.87192H111.884V18.8768ZM127.513 12.5222H124.082V6.80788H127.238C128.315 6.80788 129.141 7.05418 129.742 7.57142C130.343 8.08867 130.644 8.80295 130.644 9.71428C130.644 10.5517 130.368 11.2167 129.792 11.7586C129.216 12.2759 128.465 12.5222 127.513 12.5222ZM131.145 18.8768H132.322V18.7537L129.016 13.2118C129.842 12.9655 130.519 12.5222 131.02 11.8818C131.521 11.2414 131.771 10.5025 131.771 9.68965C131.771 8.48276 131.37 7.54679 130.594 6.88177C129.792 6.21674 128.69 5.87192 127.288 5.87192H123.005V18.8768H124.132V13.4581H127.964L131.145 18.8768ZM139.786 18.8768L144.695 5.87192H143.468L139.31 17.2759L139.235 17.5468L139.16 17.2759L135.002 5.87192H133.775L138.684 18.8768H139.786ZM147.526 18.8768H148.653V5.87192H147.526V18.8768ZM153.286 13.1872V11.5862C153.286 10.0345 153.637 8.80295 154.363 7.94088C155.065 7.05418 156.041 6.61083 157.219 6.61083C159.373 6.61083 160.6 7.71921 160.875 9.91133H162.003C161.877 8.58128 161.401 7.54679 160.575 6.78325C159.748 6.04433 158.646 5.65024 157.219 5.65024C156.217 5.65024 155.315 5.89655 154.564 6.38916C153.787 6.88177 153.211 7.57142 152.785 8.45812C152.385 9.34482 152.159 10.3793 152.159 11.5369V13.2364C152.159 14.3695 152.385 15.3793 152.785 16.266C153.186 17.1527 153.787 17.8424 154.539 18.3103C155.29 18.803 156.167 19.0246 157.144 19.0246C158.546 19.0246 159.673 18.6552 160.525 17.9409C161.376 17.2266 161.877 16.1675 162.028 14.7882H160.901C160.75 15.8965 160.4 16.7094 159.798 17.2759C159.197 17.8177 158.321 18.1133 157.144 18.1133C155.966 18.1133 155.015 17.6699 154.338 16.7832C153.637 15.8965 153.286 14.6897 153.286 13.1872ZM166.311 17.9409V12.6453H172.497V11.7094H166.311V6.80788H173.374V5.87192H165.184V18.8768H173.399V17.9409H166.311Z" fill="white" />
            </svg>
        </div>

        <hr class="menu-line">
        <a href="application"> <span class="material-icons-outlined">dashboard</span>    Dashboard </a>
        <a href="bank"> <span class="material-icons-outlined"> notifications </span>  Notifications (16) </a>
        <a href="#"> <span class="material-icons-outlined imp"> person </span> My account </a>
        <hr class="menu-line">
        <a href="#">  <span class="material-icons-outlined sec">settings</span> Configuration </a>
        <a href="#">  <span class="material-icons-outlined sec">admin_panel_settings</span>Administration </a>
        <a href="#"> <span class="material-icons-outlined sec">business_center</span> Client </a>
        <a href="#"> <span class="material-icons-outlined sec">business</span> Company </a>
        <a href="#"> <span class="material-icons-outlined sec">campaign</span> Promoter </a>
        <a href="#"> <span class="material-icons-outlined sec">accessibility</span> Persons </a>
        <a href="#"><span class="material-icons-outlined sec">description</span>  Persons Contracts </a>
        <a href="#"><span class="material-icons-outlined sec">flag</span> Actions </a>
    </div>
</div>

<div class="main" style="@moveMain">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    bool menuOpen = false;
    string menuBtn = "menu-btn";
    string menuIcon = "hsp-icon menu-closed";
    string menustyle;
    string logostyle;
    string teststyle;
    string iconstyle;
    string moveMain;

    public void Menu()
    {


        if (menuOpen == false)
        {
            menuOpen = true;
            menuBtn = "menu-btn open";
            menuIcon = "hsp-icon";
            menustyle = "width:200px";
            logostyle = "width:200px";
            teststyle = "visibility:visible";
            iconstyle = "visibility:visible";
            moveMain = "position:absolute;left:200px;transition:0.3s;width:45%";

        }
        else
        {
            menuOpen = false;
            menuBtn = "menu-btn";
            menuIcon = "hsp-icon menu-closed";
            menustyle = "width:50px";
            logostyle = "width:50px";
            teststyle = "visibility:hidden";
            moveMain = "position:absolute;left:50px;transition:0.3s";
        }

    }
}
